

<div class ="container">
  <button type ="button" mat-raised-button color="primary" (click)= "exibirCadastrarPedidos()">Novo</button>
</div>

<div class ="container" style="width: 80%;" *ngIf = "cadastrar">
  <form action="" class="container">
    <div style="display:block">
        <div class = "container" style="display:inline-block;">
          <h3>Data: </h3>
          
          <h2 style="display:inline">
            {{tempData}}
          </h2>
          <span></span>
        </div>
      <br>
      <div class = "container" style="display:inline-block">
        <h3>Cliente</h3>
        <span></span>
        <select  (input)= "inserirCliente($event.target.value)">
          <option value = -1> </option>
          <option *ngFor = "let cliente of tempClientes" [value] = "cliente.Id"> {{cliente.Nome}} </option>
        </select>
        <p style="color: red;"> .{{alertaCliente}}</p>
        

      </div>
      <div class = "container" style="display:inline-block">
        <h3>Produtos</h3>
        <span></span>
        <select  (input)= "tempProduto = $event.target.value">
          <option > </option>
          <option *ngFor = "let opcao of Produtos" [value] = "opcao.id"> {{opcao.nome}} </option>
        </select>
        <p style="color: red;"> .{{alertaProduto}}</p>
      </div>

      <div class ="container"  style= "display: inline-block">
        <button type ="button" mat-raised-button color="primary" (click)= "adicionarProduto()">Adicionar</button>
        <p style = "color: #555;">.</p>
      </div>
      <br>
      <div class = "container" style="display:inline-block">
        <h3>Desconto</h3>
        <span></span>
        <input type="number" (input)= "tempDesconto = $event.target.value; calcularValorTotal()">
        <p style="color: red;"> .{{alertaDesconto}}</p>
      </div>
      <br>
      <div class = "container" style="display:inline-block">
        <h3>Valor</h3>
        <span></span>
        {{tempValor}}
      </div>
      <div class = "container" style="display:inline-block">
        <h3>Valor Total</h3>
        <span></span>
        {{tempValorTotal}}
      </div>
    </div>

    <br>
    <br>
  
    <button type ="button" mat-raised-button (click)="cadastrarPedidos()">Cadastrar</button>
    <button type ="button" mat-raised-button (click)="ocultarCadastrarPedidos()">Cancelar</button>
  </form>
</div>

<div class = "container" id ="tableContainer">

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="data">
          <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.data}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
      <ng-container matColumnDef="produto">
          <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.length}} </mat-cell>
      </ng-container>

        <!-- Name Column -->
      <ng-container matColumnDef="cliente">
          <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cliente.Nome}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
      <ng-container matColumnDef="valor">
          <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
      <ng-container matColumnDef="desconto">
          <mat-header-cell *matHeaderCellDef> Desconto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.desconto}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
      <ng-container matColumnDef="valorTotal">
          <mat-header-cell *matHeaderCellDef> Valor Total </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.valorTotal}} </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>